body{
   /* display: flex;
    flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

header{
    text-align: center;
    top: 1%;
    position: absolute;
}

footer{
    text-align: center;
    bottom: 20px;
    position: absolute;
}



form{
    position: absolute;
    top: 10%;
    background-color: lightgrey;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 350px;
}

form input{
    display: block;
    background: none;
    margin: 18px auto;
    padding: 8px;
    text-align: center;
    border: 2px solid blue;
    outline: none;
    width: 180px;
    font-size: 22px;
    border-radius: 10px;
}

form input [type = "submit"], button{
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    background-color: blue;
    color: white;
}

#errorMessage{
    color: red;
}